@font-face {
  font-family: 'Orkney';
  src: url('../Fonts/Orkney-Bold.woff') format('woff');
  font-weight: bold;
  font-style: normal;
}
*, ::after,::before{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  outline: 0;


}
body {
  margin: 0;
  padding: 0;
  font-family: 'Orkney';
  color: whitesmoke;
  width: 100%;
  height: 100vh;
  scroll-snap-type: y mandatory;
  scrollbar-width: none;
  overflow-y: hidden;
  -ms-overflow-style: -ms-autohiding-scrollbar;
  -webkit-overflow-scrolling: touch;
}


.language-switch {
  border:1px solid rgb(63, 63, 63);
  background:none;
  position: fixed;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  bottom:50px;
  font-weight: lighter;
  font-size: 15px;
  left: 60px;
  font-family: 'Orkney';
  padding-top:4px;
  font-weight: 550;
  color:whitesmoke;
  cursor: pointer;
  transition: font-size .2s ease-in-out;
  outline: 0;
}
.language-switch:hover{
  transition: .2s ease-in-out;
  font-size: 20px;
  font-weight: 700;
  outline: 0;
}
.language-switch:active{
  font-weight: 600;
  font-size: 15px;
  outline: 0;

}

::-webkit-scrollbar {
  display: none;
}

@-moz-document url-prefix() {
  * {
    scrollbar-width: none;
  }
}