
nav {
    display: flex;
    width: auto;
    height:auto;
    justify-content: space-evenly;
    position: fixed;
    top:5%;
    right:5%;
    z-index: 99999;
  }
 .nav{
    text-decoration: none;
    -webkit-font-smoothing:antialiased;
    -moz-osx-font-smoothing:grayscale;
    color:whitesmoke;
    margin:1em;
    z-index: 99999;
  }

  .NavCtnr{
    z-index: 99999;
    position: fixed;
    bottom: auto;
    bottom: 5%;
    left:5%;

  }
  .nav.current{
    z-index: 99999;
    display: none;
    color:black;
  }